{% load static %}

<div class="answer row">
    <div class="col-2 qcol">
        <div class="qavatar">
            <img src="{% static a.user_id.get_avatar %}" alt="">
            <p>{{a.user_id}}</p>
        </div>
        {% include 'main/include/likecounter.html' with rating=a.rating %}
    </div>
    <div class="col-10 qcol">
        <div class="qpreview ">
            {{ a.text }}
        </div>

        <div class="row" style="padding-top: 0.5rem;">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Correct!
                    </label>
                </div>
            </div>
        </div>

    </div>
</div>
