<div class="answer row">
    <div class="col-2 qcol">
        <div class="qavatar">
            <img src="{{ answer.profile.avatar.url }}" alt="">
            <p>{{answer.profile}}</p>
        </div>
        {% include 'main/include/like_counter.html' with rating=answer.rating %}
    </div>
    <div class="col-10 qcol">
        <div class="qpreview ">
            {{ answer.text }}
        </div>

        <div class="row" style="padding-top: 0.5rem;">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Correct!
                    </label>
                </div>
            </div>
        </div>

    </div>
</div>
