<div class="answer row">
    <div class="col-2 qcol">
        <div class="qavatar">
            <img src="{{ answer.profile.avatar.url }}" alt="">
            <p>{{answer.profile}}</p>
        </div>
        {% include 'main/include/like_counter.html' with rating=answer.rating type='a' id=answer.id %}
    </div>
    <div class="col-10 qcol">
        <div class="qpreview ">
            {{ answer.text }}
        </div>

        <div class="row" style="padding-top: 0.5rem;">
            <div class="col">
                <div class="form-check">
                    {% if show_correct %}
                        <input data-id='{{answer.id}}' class="correct_checkbox form-check-input" name="correct" type="radio" {% if answer.correct %}checked{% endif %} id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Correct!
                        </label>
                    {% else %}
                        {% if answer.correct %}
                            <label>Correct answer</label>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
