<div class="question row">
    <div class="col-2 qcol">
        <div class="qavatar">
            <img src="{{ question.profile.avatar.url }}" alt="">
            <p>{{ question.profile }}({{ question.profile.rating }})</p>
        </div>
        {% include 'main/include/like_counter.html' with rating=question.rating %}
    </div>
    <div class="col-10 qcol">
        <a href="{% url 'question' question.id %}">
            <h3>{{ question.title }}</h3>
        </a>
        <div class="qpreview ">
            {{ question.text }}
        </div>

        <div class="row" style="padding-top: 0.5rem;">
            <div class="col">
                <a href="{% url 'question' question.id %}">answers({{ q.answers_num }})</a>
            </div>
            <div class="col">
                <label>Tags:</label>
                <span class="tags">
                    {% for tag in question.tag.all %}
                        <a href="{% url 'tag' tag %}">{{tag}}</a>
                    {% endfor %}
                </span>
            </div>
        </div>
    </div>
</div>
