.question {
    border: 2px solid black;
    border-radius: 1rem;
    height: 15rem;
    margin: 2rem 2rem 2rem 0rem;
}

.answer {
    border: 2px solid black;
    border-radius: 1rem;
    height: 15rem;
    margin: 2rem 2rem 2rem 0rem;
}

.question>.qcol,
.answer>.qcol {
    height: 100%;
    padding: 1rem;
}

.qavatar {
    position: relative;
}

.qavatar::after {
    display: block;
    content: '';
    padding-bottom: 100%;
}

.qavatar>p {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 90%;
}

.text_area_container>textarea {
    resize: none; 
    height: 100%; 
    width: 100%;
}

.qavatar>img {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 50%;
}

.qpreview {
    height: 7.5rem;
    padding-right: 0.5rem;
    word-wrap: break-word; 
    overflow: hidden;
}

#text {
    height: 20rem;
}

.inp {
    padding-top: 1rem;
}

.black_rounded_border {
    border: 1px solid black;
    border-radius: 5px !important;
}

.answers {
    overflow-x: hidden;
    overflow-y: scroll;
}


.qty .count {
    color: #000;
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    min-width: 25px;
    text-align: center;
}

.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 25px;
    height: 25px;
    font: 25px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    }

.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 25px;
    height: 25px;
    font: 25px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.qty {
    text-align: center;
}

.minus:hover{
    background-color: #717fe0 !important;
}

.plus:hover{
    background-color: #717fe0 !important;
}

/*Prevent text selection*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}
