{% extends 'main/base.html' %}

{% load static %}

{% block content %}

<h2>Log In</h2>
<label class="my-2" style="color: red;">Sorry, wrong password!</label>

<div class="row input-group mb-3 pt-4">
    <div class="col-2 text-left">
        <span style="font-size: larger;">Login</span>
    </div>
    <div class="col-5">
        <input type="text" class="form-control black_rounded_border" maxlength="50" placeholder="mylogin">
    </div>
</div>

<div class="row input-group mb-3 pt-2">
    <div class="col-2 text-left">
        <span style="font-size: larger;">Password</span>
    </div>
    <div class="col-5">
        <input type="text" class="form-control black_rounded_border" maxlength="100" placeholder="myemail@gmail.ru">
    </div>
</div>

<div class="row input-group mb-3 pt-2">
    <div class="col-2">
    </div>
    <div class="col-5">
        <input class="btn btn-primary" type="button" value="Log in!">
    </div>
</div>

<div class="row input-group mb-3 pt-2">
    <div class="col-2">
    </div>
    <div class="col-5">
        <a href="#">create new account</a>
    </div>
</div>

{% endblock %}

{% block usrcard %}

{% include 'main/include/nauser.html' %}

{% endblock %}
