{% extends 'main/base.html' %}

{% block content %}

<h2 style="display: inline; margin-right: 2rem;">NewQuestions</h2>
<a href="#">Hot questions</a>

{% include 'main/include/qtempl.html' %}
{% include 'main/include/qtempl.html' %}
{% include 'main/include/qtempl.html' %}

<nav>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Предыдущая">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Следующая">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}

{% block usrcard %}

{% include 'main/include/auser.html' %}

{% endblock %}
