{% extends 'main/basic.html' %}

<!-- {% block Title %}
Main
{% endblock %} -->

{% block content %}

<h2 style="display: inline; margin-right: 2rem;">Tag: pog</h2>

{% include 'main/qtempl.html' %}
{% include 'main/qtempl.html' %}
{% include 'main/qtempl.html' %}

<nav aria-label="Пример навигации по страницам">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Предыдущая">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Следующая">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}
