{% load static %}

<div class="question row">
    <div class="col-2 qcol">
        <div class="qavatar">
            <img src="{% static 'main/img/avatar.png' %}" alt="">
        </div>
        <div class="likebuttons">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">1</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">2</label>

        </div>
    </div>
    <div class="col qcol">
        <a href="">
            <h3>Question</h3>
        </a>
        <div class="qpreview ">
                I was wondering if I could create a forum where instead of featuring a user interface, the entire forum
                is on a terminal.
                Is it possible to create such (or to just imitate it)?I was wondering if I could create a forum where
                instead of featuring a user interface, the entire forum is on a terminal.
                Is it possible to create such (or to just imitate it)?I was wondering if I could create a forum where
                instead of featuring a user interface, the entire forum is on a terminal.
                Is it possible to create such (or to just imitate it)?fdgdfg
        </div>

        <div class="row" style="padding-top: 0.5rem;">
            <div class="col">
                <a href="">answers(...)</a>

            </div>
            <div class="col">
                <label>Tags:</label>
                <a href="">tag1</a>
                <a href="">tag2</a>
            </div>
        </div>

    </div>
</div>
