{% extends 'main/base.html' %}

{% block content %}

<h2 style="display: inline; margin-right: 2rem;">New Question</h2>

<form novalidate action="" method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
    <div>
        <label class="my-2" style="color: red;">{{ error }}</label>
    </div>
    {% endfor %}
    {% for field in form %}
    <div class="row input-group mt-3 pt-2">
        <div class="col-2 text-left" style="font-size: larger;">
            {{ field.label_tag }}
        </div>
        <div class="col-8">
            {{ field }}
        </div>
    </div>
    {% for error in field.errors %}
    <div>
        <label class="my-2" style="color: red;">{{ error }}</label>
    </div>
    {% endfor %}
    {% endfor %}

    <div class="row input-group mb-3 mt-3 pt-2">
        <div class="col-2"></div>
        <div class="col-5">
            <input class="btn btn-primary" type="submit" value="Ask!">
        </div>
    </div>

</form>

{% endblock %}
