{% extends 'main/base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-2 qcol">
        <div class="qavatar">
            <img src="{% static 'main/img/' %}{{question.user_id}}.png" alt="">
            <p>{{question.user_id}}</p>
        </div>
        {% include 'main/include/likecounter.html' with rating=question.rating %}
    </div>
    <div class="col-10 qcol">
        <h2>{{question.title}}</h2>
        <div class="qpreview" style="font-size: larger; max-height: 30rem; height: 100%; overflow-x: hidden;
        overflow-y: scroll;">
            <div>{{question.text}}</div>
            <div class="row" style="padding-top: 0.5rem;">
                <div class="col">
                    <label>Tags:</label>
                    {% for t in question.tags %}
                    <a href="{% url 'tag' t %}">{{t}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
</div>

<hr>

{% include 'main/include/ablock.html' %}

<hr>

<div style="margin: 2rem 2rem 2rem 0; height: 15rem;">
    <textarea class="form-control black_rounded_border" style="resize: none; height: 100%; width: 100%;"
        maxlength="20000" placeholder="Enter answer here"></textarea>
</div>

<input class="btn btn-primary" type="button" value="Answer">

{% endblock %}
