{% extends 'main/base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-2 qcol">
        <div class="qavatar">
            <img src="{% static question.user_id.get_avatar %}" alt="">
            <p>{{question.user_id}}</p>
        </div>
        {% include 'main/include/likecounter.html' with rating=question.rating %}
    </div>
    <div class="col-10 qcol">
        <h2>{{question.title}}</h2>
        <div class="qpreview" style="font-size: larger; max-height: 30rem; height: 100%; overflow-x: hidden;
        overflow-y: scroll;">
            <div>{{question.text}}</div>
            <div class="row" style="padding-top: 0.5rem;">
                <div class="col">
                    <label>Tags:</label>
                    {% for t in question.tags %}
                    <a href="{% url 'tag' t %}">{{t}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
</div>

<hr id="ablock_start">

{% include 'main/include/ablock.html' with anchor='ablock_start' %}

<hr id="ablock_end">

<form novalidate action="/question/{{question.id}}#ablock_end" method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
    <div>
        <label class="my-2" style="color: red;">{{ error }}</label>
    </div>
    {% endfor %}
    {% for field in form %}
    <div class="text_area_container" style="margin: 2rem 2rem 2rem 0; height: 15rem;" >
        {{ field }}
    </div>
    {% for error in field.errors %}
    <div>
        <label class="my-2" style="color: red;">{{ error }}</label>
    </div>
    {% endfor %}
    {% endfor %}

    <input class="btn btn-primary" type="submit" value="Ask!">
</form>

{% endblock %}
